body {
  height: 100vh; /* Keeps the body to the full height of the viewport */
  margin: 0; 
  display: flex;  
  justify-content: center; 
  align-items: center; 
}

.container {
  margin: 10%; 
  padding: 10%; 
  max-width: 80%; 
  text-align: center;
}


.search-bar {
  margin: auto;
}
